<footer class="container-fluid text-bg-dark" style="padding-block: 20px;">
    <div style="padding-left: 20px;">
        <h1>CONTACT US</h1>
        <div>123 City, HCM</div>
        <div>088888888</div>
        <div>abc@gmail.com</div>
    </div>
</footer>