<head>
    <link rel="stylesheet" href="user/css/cart.css">
</head>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 order-md-2" style="background-color: aqua;">
                vung trai

            </div>
            <div class="col-12 col-md-4 order-md-1" style="background-color: bisque;">
                vung phai

            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function() {
        var monanIdSelected = [];
        var sanphamIdSelected = [];
        for(let i = 0; i < localStorage.length;i++){
            let key = localStorage.key(i);
            if(key.split('-')[1] == 0){
                monanIdSelected.push(key.split('-')[0]);
            }
            else if(key.split('-')[1] == 1){
                sanphamIdSelected.push(key.split('-')[0]);
            }
        }
        $.ajax({
            url: `/data/monan`,
            method: 'GET', 
            dataType: 'json',
            success: function(data){
                var result = data.filter(item => {
                    return monanIdSelected.includes(item.mamon)
                });
            }
        })
        $.ajax({
            url: `/data/sanphamtonkho`,
            method: 'GET', 
            dataType: 'json',
            success: function(data){
                var result = data.filter(item => {
                    return sanphamIdSelected.includes(item.masanpham);
                });
            }
        })
    })
</script>