<head>
    <link rel="stylesheet" type="text/css" href="user/css/header.css">
</head>
<header>
    <div class="container-fluid d-flex align-items-center text-bg-dark">
        <div class="nav me-auto mb-2 justify-content-center mb-md-0">
            <a href="/" class="nav-link px-2 text-light">TRANG CHỦ</a>
            <a href="/cart" class="nav-link px-2 text-light">GIỎ HÀNG</a>
        </div>

        <div class="nav text-end">
            <a href="/login" class="nav-link px-2 text-light">ADMIN</a>
        </div>
    </div>
    <div class="name d-flex align-items-center">
        <p>Căn Tin HCMUS</p>
    </div>
</header>