<!-- Sidebar -->
<nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
        <div class="sidebar-header">
            <h1>ADMIN</h1>
        </div>
        <li><a href="./xu_li_don_dat_hang">Xử lý đơn đặt hàng</a></li>
        <li><a href="./nhap_xuat_hang">Nhập xuất hàng</a></li>
        <li><a href="./kiem_tra_kho">Kiểm tra kho</a></li>
        <li><a href="./bao_cao_doanh_thu">Báo cáo doanh thu</a></li>
        <li><a href="./chi_tieu_cac_mon">Chỉ tiêu các món</a></li>
    
    </ul>
    <button class="Btn">
        
        <div class="sign">
            <svg viewBox="0 0 512 512">
                <path
                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                </path>
            </svg>
        </div>
        <a href="./logout" class="text">Logout</a>
    </button>
    
</nav>
<!-- /#sidebar-wrapper -->